button {
    font-family: inherit;
    font-size: 100%;
    padding: 10px 14px;
    background-color: var(--color-secondary);
    box-shadow: 0 2px 10px var(--color-bg-secondary);
    color: inherit;
    border-style: none;
    @include pointer;
}

#reset {
    margin-top: 100px;
}

.button-pulse {
    animation: button-pulse 1.5s infinite alternate;
}

@keyframes button-pulse {
    0% {
        box-shadow: 
        0 0 3px #fff;
    }
    100% {
        box-shadow: 
        0 0 6px #fff,
        0 0 6px #fff,
        0 0 14px var(--color-secondary),
        0 0 16px var(--color-secondary),
        0 0 18px var(--color-secondary),
    }
}
