.fa-link {
    color: var(--color-locked);
}

.locked-chain {
    animation: chain-wobble 0.6s both;
}

.fa-unlink {
    color: var(--color-unlocked);
    text-shadow: 0 0 2px var(--color-unlocked), 0 0 4px var(--color-unlocked), 0 0 6px var(--color-unlocked);
    animation: puff-in-center 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes chain-wobble {
    0%,
    15% {
        transform: translateX(-8px) rotate(-10deg);
    }
    30% {
        transform: translateX(4px) rotate(6deg);
    }
    45% {
        transform: translateX(-3px) rotate(-8deg);
    }
    60% {
        transform: translateX(4px) rotate(3deg);
    }
    75% {
        transform: translateX(-1px) rotate(-2deg);
    }
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
}

@keyframes puff-in-center {
    0% {
        transform: scale(1.5);
        filter: blur(4px);
        opacity: 0;
    }
    50% {
        transform: scale(0.8);
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}
