@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: "Rune";
    src: url("./fonts/rune/rune.ttf");
    font-weight: normal;
    font-style: normal;
}