.text-block {
    margin-top: 60px;
    padding: 0 30px;
    max-width: 480px;
    text-align: justify;
    text-justify: auto;

    @media screen and (min-width: 1024px) {
        max-width: 768px;
    }

    > div {
        margin-bottom: 30px;

        > h3 {
            padding-bottom: 5px;
            border-bottom: 1px solid var(--color-bg-secondary);
        }

        & ul {
            margin-top: 16px;
        }
    }
}

ul {
    list-style-type: square;
    padding-left: 18px;
    margin: 0;
}

#hints {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &-button {
        @include pointer;
    }

    &-arrow {
        margin-left: 5px;
    }
}
