.rune {
    font-family: "Rune", sans-serif;
    font-size: xx-large;
    color: #ffffff;
    height: 50px;
    width: 55px;
    padding-top: 15px;
    border-radius: 100%;
    animation: pulse 1s infinite alternate;
}

@function ending-shadow-text() {
    @return (
        0 0 2px #fff,
        0 0 3px #fff,
        0 0 6px var(--color-rune),
        0 0 12px var(--color-rune),
        0 0 18px var(--color-rune),
        0 0 24px var(--color-rune),
        0 0 32px var(--color-rune),
        0 0 48px var(--color-rune)
    );
}

@function starting-shadow-text() {
    @return (
        0 0 4px var(--color-rune),
        0 0 8px var(--color-rune),
        0 0 12px var(--color-rune),
        0 0 16px var(--color-rune),
        0 0 32px var(--color-rune)
    );
}

@function ending-shadow-box() {
    @return (
        0 0 12px var(--color-rune)
    );
}

@function starting-shadow-box() {
    @return (
        0 0 4px var(--color-rune)
    );
}

@keyframes pulse {
    100% {
        text-shadow: ending-shadow-text();
        box-shadow: ending-shadow-box();
    }
    0% {
        text-shadow: starting-shadow-text();
        box-shadow: starting-shadow-box();
    }
}
