:root {
    --color-primary: #d0ddd7;
    --color-shiny: #fca311;
    --color-bg: #3f4045;
    --color-rune-green: #affc41;
    --color-rune-orange: #ff9f1c;
    --color-rune-purple: #b07bf0;
    --color-rune-blue: #00bbf9;
}