:root {
    --color-primary: #d0ddd7;
    --color-secondary: #4a589e;
    --color-locked: #8690a0;
    --color-unlocked: #e3ffff;
    --color-bg: #3f4045;
}

[data-color="green"] {
    --color-rune: #93fc00;
}

[data-color="orange"] {
    --color-rune: #ff7b00;
}

[data-color="blue"] {
    --color-rune: #00bbf9;
}

[data-color="purple"] {
    --color-rune: #bb46ff;
}
