:root {
    --color-primary: #d0ddd7;
    --color-secondary: #4a589e;
    --color-bg: #3f4045;
    --color-rune-green: #93fc00;
    --color-rune-orange: #ff7b00;
    --color-rune-purple: #bb46ff;
    --color-rune-blue: #00bbf9;
}