@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
:root {
  --color-primary: #d0ddd7;
  --color-shiny: #fca311;
  --color-bg: #3f4045;
  --color-rune-green: #affc41;
  --color-rune-orange: #ff9f1c;
  --color-rune-purple: #b07bf0;
  --color-rune-blue: #00bbf9;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header {
  margin: 60px 0;
}

main {
  margin: 0 auto;
  width: 330px;
}

#chest {
  width: 100%;
  margin: 15px 0;
  font-size: xxx-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.handle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.handle-container :first-child {
  margin-bottom: 40px;
}

.handle-container :last-child {
  margin-top: 20px;
}

.handle-container :last-child:hover {
  cursor: pointer;
}

.rune {
  color: #ffffff;
  font-family: 'Grand Hotel', sans-serif;
}

.pulse-green {
  -webkit-animation: pulse-green 1s infinite alternate;
          animation: pulse-green 1s infinite alternate;
}

@-webkit-keyframes pulse-green {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px var(--color-rune-green), 0 0 24px var(--color-rune-green), 0 0 50px var(--color-rune-green);
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px var(--color-rune-green), 0 0 26px var(--color-rune-green), 0 0 36px var(--color-rune-green);
  }
}

@keyframes pulse-green {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px var(--color-rune-green), 0 0 24px var(--color-rune-green), 0 0 50px var(--color-rune-green);
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px var(--color-rune-green), 0 0 26px var(--color-rune-green), 0 0 36px var(--color-rune-green);
  }
}

.pulse-orange {
  -webkit-animation: pulse-orange 1s infinite alternate;
          animation: pulse-orange 1s infinite alternate;
}

@-webkit-keyframes pulse-orange {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px var(--color-rune-orange), 0 0 24px var(--color-rune-orange), 0 0 50px var(--color-rune-orange);
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px var(--color-rune-orange), 0 0 26px var(--color-rune-orange), 0 0 36px var(--color-rune-orange);
  }
}

@keyframes pulse-orange {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px var(--color-rune-orange), 0 0 24px var(--color-rune-orange), 0 0 50px var(--color-rune-orange);
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px var(--color-rune-orange), 0 0 26px var(--color-rune-orange), 0 0 36px var(--color-rune-orange);
  }
}

.pulse-purple {
  -webkit-animation: pulse-purple 1s infinite alternate;
          animation: pulse-purple 1s infinite alternate;
}

@-webkit-keyframes pulse-purple {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px var(--color-rune-purple), 0 0 24px var(--color-rune-purple), 0 0 50px var(--color-rune-purple);
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px var(--color-rune-purple), 0 0 26px var(--color-rune-purple), 0 0 36px var(--color-rune-purple);
  }
}

@keyframes pulse-purple {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px var(--color-rune-purple), 0 0 24px var(--color-rune-purple), 0 0 50px var(--color-rune-purple);
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px var(--color-rune-purple), 0 0 26px var(--color-rune-purple), 0 0 36px var(--color-rune-purple);
  }
}

.pulse-blue {
  -webkit-animation: pulse-blue 1s infinite alternate;
          animation: pulse-blue 1s infinite alternate;
}

@-webkit-keyframes pulse-blue {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px var(--color-rune-blue), 0 0 24px var(--color-rune-blue), 0 0 50px var(--color-rune-blue);
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px var(--color-rune-blue), 0 0 26px var(--color-rune-blue), 0 0 36px var(--color-rune-blue);
  }
}

@keyframes pulse-blue {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px var(--color-rune-blue), 0 0 24px var(--color-rune-blue), 0 0 50px var(--color-rune-blue);
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px var(--color-rune-blue), 0 0 26px var(--color-rune-blue), 0 0 36px var(--color-rune-blue);
  }
}
/*# sourceMappingURL=style.css.map */