@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --color-primary: #d0ddd7;
  --color-secondary: #4a589e;
  --color-bg: #3f4045;
}

[data-color=green] {
  --color-rune: #93fc00;
}

[data-color=orange] {
  --color-rune: #ff7b00;
}

[data-color=blue] {
  --color-rune: #00bbf9;
}

[data-color=purple] {
  --color-rune: #bb46ff;
}

@font-face {
  font-family: "Rune";
  src: url("./fonts/tolkien_dwarf_runes/dwarf.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

header {
  margin: 60px 0;
}

main {
  margin: 0 auto;
  width: 330px;
}

#chest {
  width: 100%;
  margin: 15px 0;
  font-size: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.handle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.handle-container :first-child {
  margin-bottom: 40px;
}
.handle-container :last-child {
  margin-top: 20px;
}

.pointer {
  cursor: pointer;
}

.rune {
  font-family: "Rune", sans-serif;
  font-size: 36px;
  color: #ffffff;
  height: 50px;
  width: 55px;
  padding-top: 15px;
  border-radius: 100%;
  -webkit-animation: rune-pulse 0.5s infinite alternate;
          animation: rune-pulse 0.5s infinite alternate;
}

@-webkit-keyframes rune-pulse {
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px var(--color-rune), 0 0 8px var(--color-rune), 0 0 12px var(--color-rune), 0 0 16px var(--color-rune), 0 0 32px var(--color-rune);
    box-shadow: 0 0 1px var(--color-rune), 0 0 3px var(--color-rune);
  }
  100% {
    text-shadow: 0 0 3px #fff, 0 0 4px #fff, 0 0 6px var(--color-rune), 0 0 12px var(--color-rune), 0 0 18px var(--color-rune), 0 0 24px var(--color-rune), 0 0 32px var(--color-rune), 0 0 48px var(--color-rune);
    box-shadow: 0 0 3px var(--color-rune), 0 0 4px var(--color-rune), 0 0 6px var(--color-rune);
  }
}

@keyframes rune-pulse {
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px var(--color-rune), 0 0 8px var(--color-rune), 0 0 12px var(--color-rune), 0 0 16px var(--color-rune), 0 0 32px var(--color-rune);
    box-shadow: 0 0 1px var(--color-rune), 0 0 3px var(--color-rune);
  }
  100% {
    text-shadow: 0 0 3px #fff, 0 0 4px #fff, 0 0 6px var(--color-rune), 0 0 12px var(--color-rune), 0 0 18px var(--color-rune), 0 0 24px var(--color-rune), 0 0 32px var(--color-rune), 0 0 48px var(--color-rune);
    box-shadow: 0 0 3px var(--color-rune), 0 0 4px var(--color-rune), 0 0 6px var(--color-rune);
  }
}
button {
  font-family: inherit;
  font-size: 100%;
  padding: 10px 14px;
  background-color: var(--color-secondary);
  color: inherit;
  border-style: none;
}
button:hover {
  cursor: pointer;
}

#reset {
  margin-top: 100px;
}

.button-pulse {
  -webkit-animation: button-pulse 1.5s infinite alternate;
          animation: button-pulse 1.5s infinite alternate;
}

@-webkit-keyframes button-pulse {
  0% {
    box-shadow: 0 0 3px #fff;
  }
  100% {
    box-shadow: 0 0 6px #fff, 0 0 6px #fff, 0 0 14px var(--color-secondary), 0 0 16px var(--color-secondary), 0 0 18px var(--color-secondary);
  }
}

@keyframes button-pulse {
  0% {
    box-shadow: 0 0 3px #fff;
  }
  100% {
    box-shadow: 0 0 6px #fff, 0 0 6px #fff, 0 0 14px var(--color-secondary), 0 0 16px var(--color-secondary), 0 0 18px var(--color-secondary);
  }
}/*# sourceMappingURL=style.css.map */